html {
  user-select: none !important;
  -webkit-tap-highlight-color: transparent;
}

.heading {
  font-family: "Inter";
  font-weight: bold;
}

.prosed {
  @apply prose prose-slate dark:text-slate-500 text-lg max-w-max;
}

.highlight {
  @apply dark:text-slate-300;
}
.bordered {
  @apply py-2 px-3 border border-slate-500 dark:border-slate-300;
}
